In [39]:
from datasets import load_dataset
from datasets import Dataset
dataset = load_dataset("SetFit/subj")
dataset = dataset.remove_columns("label_text")
dataset = dataset['train'].shuffle(seed=42).select([i for i in list(range(6000))])
original_train_ds = Dataset.from_dict(dataset[0:5000])
validation_ds = Dataset.from_dict(dataset[5000:5500])
test_ds = Dataset.from_dict(dataset[5500:6000])

display(original_train_ds)
display(validation_ds)
display(test_ds)

Using custom data configuration SetFit___subj-848ec40cb3887b72
Reusing dataset json (C:\Users\DELL\.cache\huggingface\datasets\json\SetFit___subj-848ec40cb3887b72\0.0.0\c2d554c3377ea79c7664b93dc65d0803b45e3279000f993c7bfd18937fd7f426)
100%|██████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 1042.32it/s]
Loading cached shuffled indices for dataset at C:\Users\DELL\.cache\huggingface\datasets\json\SetFit___subj-848ec40cb3887b72\0.0.0\c2d554c3377ea79c7664b93dc65d0803b45e3279000f993c7bfd18937fd7f426\cache-80b8e4129e527f71.arrow

Dataset({
    features: ['text', 'label'],
    num_rows: 5000
})

Dataset({
    features: ['text', 'label'],
    num_rows: 500
})

Dataset({
    features: ['text', 'label'],
    num_rows: 500
})

In [40]:
import pandas as pd 

original_train_df = pd.DataFrame(original_train_ds) 
display(original_train_df)

                                                   text  label
0     on this morning , johnny wakes to his mother '...      0
1     despite a quieter middle section , involving a...      1
2     [ kidd ] can write dialogue , work skillfully ...      1
3     abandoned and filled with a mysterious past , ...      0
4     the romantic triangle leads to a surprising co...      0
...                                                 ...    ...
4995  jacobi , the most fluent of actors , is given ...      1
4996  even if you do n't understand what on earth is...      1
4997  gerry 's daughter , mattie , accidentally prin...      0
4998  a well paced and satisfying little drama that ...      1
4999  trademark american triteness and simplicity ar...      1

[5000 rows x 2 columns]

In [41]:
import pandas as pd 

augmented_train_df = pd.read_csv(r'C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\augmented_datasets\CheckList\run3\dataset.csv')
display(augmented_train_df)

,Unnamed: 0,original_text,perturbed_text
0,0,"now , along with other surviors , jill valenti...","now , along with other surviors , jill valenti..."
1,1,nolan bravely treads where few american films ...,Kelia bravely treads where few american films ...
2,2,"leela is the story of leela , an aware , liber...","Ashli is the story of leela , an aware , liber..."
3,3,but even this new relationship is not enough t...,but even this new relationship isn't enough to...
4,4,nachtwey clears the cynicism right out of you ...,Jessica clears the cynicism right out of you ....
...,...,...,...
1950,1950,john has become not just a full fledged phenom...,Atziri has become not just a full fledged phen...
1951,1951,"join edgar , the man , and gigi , the dog , on...","join Tavin , the man , and gigi , the dog , on..."
1952,1952,"facing her past , culturally and emotionally ,...","facing her past , culturally and emotionally ,..."
1953,1953,it is no coincidence that funding for `` anti-...,it's no coincidence that funding for `` anti-g...
1954,1954,"jacobi , the most fluent of actors , is given ...","Anneliese , the most fluent of actors , is giv..."

In [42]:
import itertools
perturbed_label_list = []
for index, data in augmented_train_df.iterrows():
    original_label = (original_train_df[original_train_df['text'] == data['original_text']])['label']
    if (list(original_label)):
        perturbed_label_list.append(list(original_label))

perturbed_label_list = list(itertools.chain.from_iterable(perturbed_label_list))
display(perturbed_label_list)

[0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 ...]

In [43]:
augmented_train_df['perturbed_label'] = perturbed_label_list

In [44]:
display(augmented_train_df)

,Unnamed: 0,original_text,perturbed_text,perturbed_label
0,0,"now , along with other surviors , jill valenti...","now , along with other surviors , jill valenti...",0
1,1,nolan bravely treads where few american films ...,Kelia bravely treads where few american films ...,1
2,2,"leela is the story of leela , an aware , liber...","Ashli is the story of leela , an aware , liber...",0
3,3,but even this new relationship is not enough t...,but even this new relationship isn't enough to...,0
4,4,nachtwey clears the cynicism right out of you ...,Jessica clears the cynicism right out of you ....,1
...,...,...,...,...
1950,1950,john has become not just a full fledged phenom...,Atziri has become not just a full fledged phen...,0
1951,1951,"join edgar , the man , and gigi , the dog , on...","join Tavin , the man , and gigi , the dog , on...",0
1952,1952,"facing her past , culturally and emotionally ,...","facing her past , culturally and emotionally ,...",0
1953,1953,it is no coincidence that funding for `` anti-...,it's no coincidence that funding for `` anti-g...,0
1954,1954,"jacobi , the most fluent of actors , is given ...","Anneliese , the most fluent of actors , is giv...",1

In [45]:
target = augmented_train_df.index[augmented_train_df['perturbed_text'] == 'Error occured in text generation .']
augmented_train_df =  augmented_train_df.drop(target)

In [46]:

drop_col = ['Unnamed: 0', 'original_text']
augmented_train_df = augmented_train_df.drop(drop_col, axis=1)
display(augmented_train_df)

                                         perturbed_text  perturbed_label
0     now , along with other surviors , jill valenti...                0
1     Kelia bravely treads where few american films ...                1
2     Ashli is the story of leela , an aware , liber...                0
3     but even this new relationship isn't enough to...                0
4     Jessica clears the cynicism right out of you ....                1
...                                                 ...              ...
1950  Atziri has become not just a full fledged phen...                0
1951  join Tavin , the man , and gigi , the dog , on...                0
1952  facing her past , culturally and emotionally ,...                0
1953  it's no coincidence that funding for `` anti-g...                0
1954  Anneliese , the most fluent of actors , is giv...                1

[1955 rows x 2 columns]

In [47]:
augmented_train_df = augmented_train_df.rename(columns={'perturbed_text': 'text', 'perturbed_label': 'label'})
display(augmented_train_df)
augmented_train_df = augmented_train_df.reset_index()
display(augmented_train_df)

                                                   text  label
0     now , along with other surviors , jill valenti...      0
1     Kelia bravely treads where few american films ...      1
2     Ashli is the story of leela , an aware , liber...      0
3     but even this new relationship isn't enough to...      0
4     Jessica clears the cynicism right out of you ....      1
...                                                 ...    ...
1950  Atziri has become not just a full fledged phen...      0
1951  join Tavin , the man , and gigi , the dog , on...      0
1952  facing her past , culturally and emotionally ,...      0
1953  it's no coincidence that funding for `` anti-g...      0
1954  Anneliese , the most fluent of actors , is giv...      1

[1955 rows x 2 columns]

      index                                               text  label
0         0  now , along with other surviors , jill valenti...      0
1         1  Kelia bravely treads where few american films ...      1
2         2  Ashli is the story of leela , an aware , liber...      0
3         3  but even this new relationship isn't enough to...      0
4         4  Jessica clears the cynicism right out of you ....      1
...     ...                                                ...    ...
1950   1950  Atziri has become not just a full fledged phen...      0
1951   1951  join Tavin , the man , and gigi , the dog , on...      0
1952   1952  facing her past , culturally and emotionally ,...      0
1953   1953  it's no coincidence that funding for `` anti-g...      0
1954   1954  Anneliese , the most fluent of actors , is giv...      1

[1955 rows x 3 columns]

In [48]:
train_dataset_df = pd.concat([original_train_df, augmented_train_df], axis=0)
train_dataset_df = train_dataset_df.reset_index()
display(train_dataset_df)

,level_0,text,label,index
0,0,"on this morning , johnny wakes to his mother '...",0,NaN
1,1,"despite a quieter middle section , involving a...",1,NaN
2,2,"[ kidd ] can write dialogue , work skillfully ...",1,NaN
3,3,"abandoned and filled with a mysterious past , ...",0,NaN
4,4,the romantic triangle leads to a surprising co...,0,NaN
...,...,...,...,...
6950,1950,Atziri has become not just a full fledged phen...,0,1950.0
6951,1951,"join Tavin , the man , and gigi , the dog , on...",0,1951.0
6952,1952,"facing her past , culturally and emotionally ,...",0,1952.0
6953,1953,it's no coincidence that funding for `` anti-g...,0,1953.0
6954,1954,"Anneliese , the most fluent of actors , is giv...",1,1954.0

In [49]:

drop_col = ['level_0', 'index']
train_dataset_df = train_dataset_df.drop(drop_col, axis=1)
display(train_dataset_df)

                                                   text  label
0     on this morning , johnny wakes to his mother '...      0
1     despite a quieter middle section , involving a...      1
2     [ kidd ] can write dialogue , work skillfully ...      1
3     abandoned and filled with a mysterious past , ...      0
4     the romantic triangle leads to a surprising co...      0
...                                                 ...    ...
6950  Atziri has become not just a full fledged phen...      0
6951  join Tavin , the man , and gigi , the dog , on...      0
6952  facing her past , culturally and emotionally ,...      0
6953  it's no coincidence that funding for `` anti-g...      0
6954  Anneliese , the most fluent of actors , is giv...      1

[6955 rows x 2 columns]

In [50]:
display(train_dataset_df)

                                                   text  label
0     on this morning , johnny wakes to his mother '...      0
1     despite a quieter middle section , involving a...      1
2     [ kidd ] can write dialogue , work skillfully ...      1
3     abandoned and filled with a mysterious past , ...      0
4     the romantic triangle leads to a surprising co...      0
...                                                 ...    ...
6950  Atziri has become not just a full fledged phen...      0
6951  join Tavin , the man , and gigi , the dog , on...      0
6952  facing her past , culturally and emotionally ,...      0
6953  it's no coincidence that funding for `` anti-g...      0
6954  Anneliese , the most fluent of actors , is giv...      1

[6955 rows x 2 columns]

In [51]:
from datasets import Dataset
import pandas as pd

train_ds = Dataset.from_pandas(train_dataset_df) 


display(train_ds)
display(validation_ds)
display(test_ds)

Dataset({
    features: ['text', 'label'],
    num_rows: 6955
})

Dataset({
    features: ['text', 'label'],
    num_rows: 500
})

Dataset({
    features: ['text', 'label'],
    num_rows: 500
})

In [52]:
from transformers import set_seed

set_seed(42)

In [53]:
#defining model:
from transformers import (AutoTokenizer, 
                          AutoModelForSequenceClassification, 
                          Trainer, EarlyStoppingCallback,
                          TrainingArguments)

tokenizer = AutoTokenizer.from_pretrained("distilbert-base-uncased")

tokenize_func = lambda sentences: tokenizer(sentences['text'], 
                                            padding='max_length', truncation=True, max_length = 100)



train_dataset = train_ds.map(tokenize_func, batched=True)
val_dataset = validation_ds.map(tokenize_func, batched=True)
test_dataset = test_ds.map(tokenize_func, batched=True)

model = AutoModelForSequenceClassification.from_pretrained("distilbert-base-uncased", num_labels=2)

loading configuration file https://huggingface.co/distilbert-base-uncased/resolve/main/config.json from cache at C:\Users\DELL/.cache\huggingface\transformers\23454919702d26495337f3da04d1655c7ee010d5ec9d77bdb9e399e00302c0a1.91b885ab15d631bf9cee9dc9d25ece0afd932f2f5130eba28f2055b2220c0333
Model config DistilBertConfig {
  "activation": "gelu",
  "architectures": [
    "DistilBertForMaskedLM"
  ],
  "attention_dropout": 0.1,
  "dim": 768,
  "dropout": 0.1,
  "hidden_dim": 3072,
  "initializer_range": 0.02,
  "max_position_embeddings": 512,
  "model_type": "distilbert",
  "n_heads": 12,
  "n_layers": 6,
  "pad_token_id": 0,
  "qa_dropout": 0.1,
  "seq_classif_dropout": 0.2,
  "sinusoidal_pos_embds": false,
  "tie_weights_": true,
  "transformers_version": "4.12.2",
  "vocab_size": 30522
}

loading file https://huggingface.co/distilbert-base-uncased/resolve/main/vocab.txt from cache at C:\Users\DELL/.cache\huggingface\transformers\0e1bbfda7f63a99bb52e3915dcf10c3c92122b827d92eb2d34ce94ee79ba486c.d789d64ebfe299b0e416afc4a169632f903f693095b4629a7ea271d5a0cf2c99
loading file https://huggingface.co/distilbert-base-uncased/resolve/main/tokenizer.json from cache at C:\Users\DELL/.cache\huggingface\transformers\75abb59d7a06f4f640158a9bfcde005264e59e8d566781ab1415b139d2e4c603.7f2721073f19841be16f41b0a70b600ca6b880c8f3df6f3535cbc704371bdfa4
loading file https://huggingface.co/distilbert-base-uncased/resolve/main/added_tokens.json from cache at None
loading file https://huggingface.co/distilbert-base-uncased/resolve/main/special_tokens_map.json from cache at None
loading file https://huggingface.co/distilbert-base-uncased/resolve/main/tokenizer_config.json from cache at C:\Users\DELL/.cache\huggingface\transformers\8c8624b8ac8aa99c60c912161f8332de003484428c47906d7ff7eb7f73eecdbb.20430bd8e10ef77a7d2977accefe796051e01bc2fc4aa146bc862997a1a15e79
loading configuration file https://huggingface.co/distilbert-base-uncased/resolve/main/config.json from cache at C:\Users\DELL/.cache\huggingface\transformers\23454919702d26495337f3da04d1655c7ee010d5ec9d77bdb9e399e00302c0a1.91b885ab15d631bf9cee9dc9d25ece0afd932f2f5130eba28f2055b2220c0333
Model config DistilBertConfig {
  "activation": "gelu",
  "architectures": [
    "DistilBertForMaskedLM"
  ],
  "attention_dropout": 0.1,
  "dim": 768,
  "dropout": 0.1,
  "hidden_dim": 3072,
  "initializer_range": 0.02,
  "max_position_embeddings": 512,
  "model_type": "distilbert",
  "n_heads": 12,
  "n_layers": 6,
  "pad_token_id": 0,
  "qa_dropout": 0.1,
  "seq_classif_dropout": 0.2,
  "sinusoidal_pos_embds": false,
  "tie_weights_": true,
  "transformers_version": "4.12.2",
  "vocab_size": 30522
}

100%|████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00, 19.39ba/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 37.14ba/s]
100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 34.58ba/s]
loading configuration file https://huggingface.co/distilbert-base-uncased/resolve/main/config.json from cache at C:\Users\DELL/.cache\huggingface\transformers\23454919702d26495337f3da04d1655c7ee010d5ec9d77bdb9e399e00302c0a1.91b885ab15d631bf9cee9dc9d25ece0afd932f2f5130eba28f2055b2220c0333
Model config DistilBertConfig {
  "activation": "gelu",
  "architectures": [
    "DistilBertForMaskedLM"
  ],
  "attention_dropout": 0.1,
  "dim": 768,
  "dropout": 0.1,
  "hidden_dim": 3072,
  "initializer_range": 0.02,
  "max_position_embeddings": 512,
  "model_type": "distilbert",
  "n_heads": 12,
  "n_layers": 6,
  "pad_token_id": 0,
  "qa_dropout": 0.1,
  "seq_classif_dropout": 0.2,
  "sinusoidal_pos_embds": false,
  "tie_weights_": true,
  "transformers_version": "4.12.2",
  "vocab_size": 30522
}

loading weights file https://huggingface.co/distilbert-base-uncased/resolve/main/pytorch_model.bin from cache at C:\Users\DELL/.cache\huggingface\transformers\9c169103d7e5a73936dd2b627e42851bec0831212b677c637033ee4bce9ab5ee.126183e36667471617ae2f0835fab707baa54b731f991507ebbb55ea85adb12a
Some weights of the model checkpoint at distilbert-base-uncased were not used when initializing DistilBertForSequenceClassification: ['vocab_layer_norm.bias', 'vocab_transform.weight', 'vocab_layer_norm.weight', 'vocab_projector.weight', 'vocab_projector.bias', 'vocab_transform.bias']
- This IS expected if you are initializing DistilBertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing DistilBertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of DistilBertForSequenceClassification were not initialized from the model checkpoint at distilbert-base-uncased and are newly initialized: ['classifier.bias', 'classifier.weight', 'pre_classifier.bias', 'pre_classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [54]:
import numpy as np
from datasets import load_metric
 
def compute_metrics(eval_pred):
   load_accuracy = load_metric("accuracy")
   load_f1 = load_metric("f1")
  
   logits, labels = eval_pred
   predictions = np.argmax(logits, axis=-1)
   accuracy = load_accuracy.compute(predictions=predictions, references=labels)["accuracy"]
   f1 = load_f1.compute(predictions=predictions, references=labels, average='macro')["f1"]
   return {"accuracy": accuracy, "f1": f1}


training_args = TrainingArguments(
    output_dir=r'C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3',          # output directory
    num_train_epochs=20,              # total number of training epochs
    per_device_train_batch_size=32,  # batch size per device during training
    per_device_eval_batch_size=32,   # batch size for evaluation
    warmup_steps=500,                # number of warmup steps for learning rate scheduler
    weight_decay=0.1,               # strength of weight decay
    
    logging_dir=r'C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\logs\CheckList\run3',            # directory for storing logs
    save_total_limit = 1,
    load_best_model_at_end=True,
    #metric_for_best_model='f1',
    evaluation_strategy='epoch',
    logging_strategy='epoch',
    save_strategy='epoch',
    gradient_accumulation_steps=2,
    learning_rate=2e-5,
)


trainer = Trainer(
    model=model, 
    args=training_args, 
    train_dataset=train_dataset,
    eval_dataset=val_dataset,
    compute_metrics=compute_metrics,
    callbacks=[EarlyStoppingCallback(early_stopping_patience=3)]
)

PyTorch: setting up devices
The default value for the training argument `--report_to` will change in v5 (from all installed integrations to none). In v5, you will need to use `--report_to all` to get the same behavior as now. You should start updating your code and make this info disappear :-).

In [55]:
#training:
trainer.train(ignore_keys_for_eval=['last_hidden_state', 'hidden_states', 'attentions'])
# We are going to get multiple loss values on each training step here

The following columns in the training set  don't have a corresponding argument in `DistilBertForSequenceClassification.forward` and have been ignored: text.
***** Running training *****
  Num examples = 6955
  Num Epochs = 20
  Instantaneous batch size per device = 32
  Total train batch size (w. parallel, distributed & accumulation) = 64
  Gradient Accumulation steps = 2
  Total optimization steps = 2180

The following columns in the evaluation set  don't have a corresponding argument in `DistilBertForSequenceClassification.forward` and have been ignored: text.
***** Running Evaluation *****
  Num examples = 500
  Batch size = 32
Saving model checkpoint to C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-109
Configuration saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-109\config.json
Model weights saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-109\pytorch_model.bin
The following columns in the evaluation set  don't have a corresponding argument in `DistilBertForSequenceClassification.forward` and have been ignored: text.
***** Running Evaluation *****
  Num examples = 500
  Batch size = 32
Saving model checkpoint to C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-218
Configuration saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-218\config.json
Model weights saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-218\pytorch_model.bin
Deleting older checkpoint [C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-109] due to args.save_total_limit
The following columns in the evaluation set  don't have a corresponding argument in `DistilBertForSequenceClassification.forward` and have been ignored: text.
***** Running Evaluation *****
  Num examples = 500
  Batch size = 32
Saving model checkpoint to C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-327
Configuration saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-327\config.json
Model weights saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-327\pytorch_model.bin
Deleting older checkpoint [C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-218] due to args.save_total_limit
The following columns in the evaluation set  don't have a corresponding argument in `DistilBertForSequenceClassification.forward` and have been ignored: text.
***** Running Evaluation *****
  Num examples = 500
  Batch size = 32
Saving model checkpoint to C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-436
Configuration saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-436\config.json
Model weights saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-436\pytorch_model.bin
The following columns in the evaluation set  don't have a corresponding argument in `DistilBertForSequenceClassification.forward` and have been ignored: text.
***** Running Evaluation *****
  Num examples = 500
  Batch size = 32
Saving model checkpoint to C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-545
Configuration saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-545\config.json
Model weights saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-545\pytorch_model.bin
Deleting older checkpoint [C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-436] due to args.save_total_limit
The following columns in the evaluation set  don't have a corresponding argument in `DistilBertForSequenceClassification.forward` and have been ignored: text.
***** Running Evaluation *****
  Num examples = 500
  Batch size = 32
Saving model checkpoint to C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-654
Configuration saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-654\config.json
Model weights saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-654\pytorch_model.bin
Deleting older checkpoint [C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-545] due to args.save_total_limit


Training completed. Do not forget to share your model on huggingface.co/models =)


Loading best model from C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\checkpoint-327 (score: 0.14009098708629608).

TrainOutput(global_step=654, training_loss=0.18141138444253063, metrics={'train_runtime': 127.5875, 'train_samples_per_second': 1090.233, 'train_steps_per_second': 17.086, 'total_flos': 1079661044124000.0, 'train_loss': 0.18141138444253063, 'epoch': 6.0})

In [56]:
#save model:
trainer.save_state()
trainer.save_model()

Saving model checkpoint to C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3
Configuration saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\config.json
Model weights saved in C:\Users\DELL\Text_Augmentation\subj_dataset_3runs\models\CheckList\run3\pytorch_model.bin

In [57]:
#evaluate:
trainer.evaluate(test_dataset)

The following columns in the evaluation set  don't have a corresponding argument in `DistilBertForSequenceClassification.forward` and have been ignored: text.
***** Running Evaluation *****
  Num examples = 500
  Batch size = 32

{'eval_loss': 0.13397863507270813,
 'eval_accuracy': 0.948,
 'eval_f1': 0.9479466974181561,
 'eval_runtime': 3.4961,
 'eval_samples_per_second': 143.017,
 'eval_steps_per_second': 4.577,
 'epoch': 6.0}